/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    background: linear-gradient(lightblue,pink);
    margin: 0;
    text-align: center;
    font-family: 'Happy Monkey', cursive;
}

img {
    width: 100px;
}
